# Pihole
/pihole/etc-dnsmasq.d
/pihole/etc-pihole
/pihole/unbound-config

# Paperless
/paperless/redisdata/*
/paperless/pgdata/*
/paperless/data/*
/paperless/media/*
/paperless/consume/*


/zerobyte/var-lib-zerobyte/*
**/.env

/traefik/letsencrypt/*

# opencloud
/opencloud/data
/opencloud/config

# immich
/immich/redisdata/*
/immich/pgdata/*
/immich/model-cache/*
/immich/upload/*

/authentik/redisdata